env/bin/activate.csh
.env/
env/
env/bin/activate
env/bin/activate.fish
env/bin/Activate.ps1
env/bin/easy_install
env/bin/easy_install-3.8
env/bin/f2py
env/bin/f2py3
env/bin/f2py3.8
env/bin/fonttools
env/bin/ipython
env/bin/ipython3
env/bin/jsonschema
env/bin/jupyter
env/bin/jupyter-bundlerextension
env/bin/jupyter-console
env/bin/jupyter-dejavu
env/bin/jupyter-execute
env/bin/jupyter-kernel
env/bin/jupyter-kernelspec
env/bin/jupyter-migrate
env/bin/jupyter-nbconvert
env/bin/jupyter-nbextension
env/bin/jupyter-notebook
env/bin/jupyter-qtconsole
env/bin/jupyter-run
env/bin/jupyter-serverextension
